Repository eclipse-sw360/sw360, pull requests merged in 2018-12, with the labels that each got.

#395 chore(licenseinfo): Reporting Improvements
  backend/src/src-licenseinfo/src/main/java/org/eclipse/sw360/licenseinfo/LicenseInfoHandler.java
  backend/src/src-licenseinfo/src/main/java/org/eclipse/sw360/licenseinfo/outputGenerators/DocxGenerator.java
  backend/src/src-licenseinfo/src/main/java/org/eclipse/sw360/licenseinfo/outputGenerators/DocxUtils.java
  backend/src/src-licenseinfo/src/main/java/org/eclipse/sw360/licenseinfo/outputGenerators/OutputGenerator.java
  backend/src/src-licenseinfo/src/main/java/org/eclipse/sw360/licenseinfo/outputGenerators/TextGenerator.java
  backend/src/src-licenseinfo/src/main/java/org/eclipse/sw360/licenseinfo/outputGenerators/XhtmlGenerator.java
  backend/src/src-licenseinfo/src/main/java/org/eclipse/sw360/licenseinfo/parsers/AbstractCLIParser.java
  backend/src/src-licenseinfo/src/main/java/org/eclipse/sw360/licenseinfo/parsers/CLIParser.java
  backend/src/src-licenseinfo/src/main/java/org/eclipse/sw360/licenseinfo/parsers/LicenseInfoParser.java
  backend/src/src-licenseinfo/src/main/resources/DefaultObligations.txt
  backend/src/src-licenseinfo/src/main/resources/templateReport.docx
  backend/src/src-licenseinfo/src/test/java/org/eclipse/sw360/licenseinfo/outputGenerators/XhtmlGeneratorTest.java
  backend/src/src-projects/src/main/java/org/eclipse/sw360/projects/ProjectHandler.java
  frontend/sw360-portlet/src/main/java/org/eclipse/sw360/portal/common/PortalConstants.java
  frontend/sw360-portlet/src/main/java/org/eclipse/sw360/portal/portlets/moderation/ModerationPortlet.java
  frontend/sw360-portlet/src/main/java/org/eclipse/sw360/portal/portlets/projects/ProjectPortlet.java
  frontend/sw360-portlet/src/main/java/org/eclipse/sw360/portal/portlets/projects/ProjectPortletUtils.java
  frontend/sw360-portlet/src/main/java/org/eclipse/sw360/portal/tags/DisplayObligations.java
  frontend/sw360-portlet/src/main/java/org/eclipse/sw360/portal/tags/DisplayProjectChanges.java
  frontend/sw360-portlet/src/main/webapp/WEB-INF/customTags.tld
  frontend/sw360-portlet/src/main/webapp/css/sw360.css
  frontend/sw360-portlet/src/main/webapp/html/projects/detail.jsp
  frontend/sw360-portlet/src/main/webapp/html/projects/edit.jsp
  frontend/sw360-portlet/src/main/webapp/html/projects/includes/projects/administration.jspf
  frontend/sw360-portlet/src/main/webapp/html/projects/includes/projects/administrationEdit.jspf
  libraries/lib-datahandler/src/main/thrift/licenseinfo.thrift
  libraries/lib-datahandler/src/main/thrift/projects.thrift
  rest/resource-server/src/main/java/org/eclipse/sw360/rest/resourceserver/core/JacksonCustomizations.java
  rest/resource-server/src/test/java/org/eclipse/sw360/rest/resourceserver/restdocs/ProjectSpecTest.java
Labels: needs test

#367 feat(codescoop): support new subcategories model
  frontend/sw360-portlet/src/main/webapp/js/modules/codeScoop.js
Labels: needs code review, needs test

#328 chore(components): Change default sort order for release overview
  frontend/sw360-portlet/pom.xml
  frontend/sw360-portlet/src/main/webapp/html/components/includes/components/clearingStatus.jspf
  frontend/sw360-portlet/src/main/webapp/html/utils/includes/requirejs.jspf
Labels: needs clarification
