Repository eclipse-sw360/sw360, pull requests merged in 2019-08, with the labels that each got.

#603 Prepare release version 4.0.0-M1
  .gitignore
  backend/pom.xml
  backend/src-common/pom.xml
  backend/src/pom.xml
  backend/src/src-attachments/pom.xml
  backend/src/src-codescoop/pom.xml
  backend/src/src-components/pom.xml
  backend/src/src-cvesearch/pom.xml
  backend/src/src-fossology/pom.xml
  backend/src/src-licenseinfo/pom.xml
  backend/src/src-licenses/pom.xml
  backend/src/src-moderation/pom.xml
  backend/src/src-projects/pom.xml
  backend/src/src-schedule/pom.xml
  backend/src/src-search/pom.xml
  backend/src/src-users/pom.xml
  backend/src/src-vendors/pom.xml
  backend/src/src-vulnerabilities/pom.xml
  backend/src/src-wsimport/pom.xml
  backend/svc-common/pom.xml
  backend/svc/pom.xml
  backend/svc/svc-attachments/pom.xml
  backend/svc/svc-codescoop/pom.xml
  backend/svc/svc-components/pom.xml
  backend/svc/svc-cvesearch/pom.xml
  backend/svc/svc-fossology/pom.xml
  backend/svc/svc-licenseinfo/pom.xml
  backend/svc/svc-licenses/pom.xml
  backend/svc/svc-moderation/pom.xml
  backend/svc/svc-projects/pom.xml
  backend/svc/svc-schedule/pom.xml
  backend/svc/svc-search/pom.xml
  backend/svc/svc-users/pom.xml
  backend/svc/svc-vendors/pom.xml
  backend/svc/svc-vulnerabilities/pom.xml
  backend/svc/svc-wsimport/pom.xml
  backend/utils/pom.xml
  build-configuration/pom.xml
  frontend/layouttpl/pom.xml
  frontend/pom.xml
  frontend/sw360-portlet/pom.xml
  frontend/sw360-theme/pom.xml
  libraries/commonIO/pom.xml
  libraries/exporters/pom.xml
  libraries/importers/component-importer/pom.xml
  libraries/importers/license-importer/pom.xml
  libraries/importers/pom.xml
  libraries/lib-datahandler/pom.xml
  libraries/pom.xml
  pom.xml
  rest/authorization-server/pom.xml
  rest/pom.xml
  rest/resource-server/pom.xml
  rest/rest-common/pom.xml
Labels: needs code review, needs general test

#617 chores(liferay): Feedback from Liferay 7 review
  frontend/sw360-portlet/src/main/java/org/eclipse/sw360/portal/portlets/homepage/AbstractTasksPortlet.java
  frontend/sw360-portlet/src/main/java/org/eclipse/sw360/portal/portlets/homepage/MyTaskAssignmentsPortlet.java
  frontend/sw360-portlet/src/main/java/org/eclipse/sw360/portal/portlets/homepage/MyTaskSubmissionsPortlet.java
  frontend/sw360-portlet/src/main/resources/META-INF/resources/css/utils/_badges.scss
  frontend/sw360-portlet/src/main/resources/META-INF/resources/html/components/includes/releases/clearingDetails.jspf
  frontend/sw360-portlet/src/main/resources/META-INF/resources/html/components/includes/releases/detailOverview.jspf
  frontend/sw360-portlet/src/main/resources/META-INF/resources/html/projects/ajax/sendableTable.jsp
  frontend/sw360-portlet/src/main/resources/META-INF/resources/html/projects/edit.jsp
  frontend/sw360-portlet/src/main/resources/META-INF/resources/html/projects/import.jsp
  frontend/sw360-portlet/src/main/resources/META-INF/resources/html/projects/includes/linkedProjectsEdit.jspf
  frontend/sw360-portlet/src/main/resources/META-INF/resources/html/projects/view.jsp
Labels: needs code review, needs general test

#620 fix(rest): fix broken logic in updateProject
  rest/resource-server/src/main/java/org/eclipse/sw360/rest/resourceserver/project/Sw360ProjectService.java
Labels: REST, bug, needs general test

#623 fix(rest): auth server is broken due to liferay api change
  rest/authorization-server/src/main/java/org/eclipse/sw360/rest/authserver/security/basicauth/Sw360LiferayAuthenticationProvider.java
  rest/authorization-server/src/main/resources/application.yml
Labels: REST
